<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
	<nav th:replace="fragments :: navigation"></nav>
	<div class="container">
	<h1 th:text="${title}">Default Title</h1>
	<p th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Log Out" class="btn btn-danger"  style="float:right; margin:10px 0"/>
	</form>
<table class="table table-striped">
	 <thead>
		<tr>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>Price</th>
		<th>Year</th>
		<th>Category</th>
		<th sec:authorize="hasAuthority('ADMIN')"></th>
		<th></th>
		</tr>
	 </thead>
	<tbody>
		<tr th:each="book : ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.category.name}"></td>	
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			<td><a class="btn btn-sm btn-info" th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
		</tr>
	</tbody>
</table>
<a class="btn btn-success" href="/addbook">Add a new book</a>
	
	</div>
	</body>
</html>